body {
  background-color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.ag-navbar {
  background-color: #121212;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ag-navbar-logo-link {
  color: #f9b234;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.ag-navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.ag-navbar-item {
  margin-left: 15px;
}

.ag-navbar-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease;
}

.ag-navbar-link:hover {
  color: #f9b234;
}

.ag-format-container {
  width: 1142px;
  margin: 80px auto 0;
}

.ag-courses_box {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.ag-courses_item {
  flex: 0 0 calc(33.333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.ag-courses-item_link:hover {
  text-decoration: none;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(1.1);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  position: relative;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}




@media only screen and (max-width: 979px) {
  .ag-format-container {
    width: 90%;
  }
  .ag-courses_item {
    flex: 0 0 calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    flex: 0 0 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
}
